* {
    margin: 0;
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }

  h1{
    font-size: 40px;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 25px;
  }
  p{
    font-size: 18px;
  }

  .g-center{
    position: relative;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .g-left,
  .g-right{
    position: relative;
    width: calc(50% - 60px);
    padding: 30px;
  }

  .g-left .intro{
    width: 80%;

  }

  /* ------------------------------ end of general CSS ------------------------------ */

  
  main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vw;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100vh);
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  article {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    transform-origin: top left;
    transform: rotate(90deg) translateY(-100vh);
  }
  
  section {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    font-family: monospace;
    font-size: 3rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  section:nth-of-type(odd) {
    background: #111;
    color: #fff;
  }
  
  section:nth-of-type(even) {
    background: rgb(63, 27, 27);
    color: #fff;
  }

  
  /* CSS for the pop-up box */
  #popup {
    position: absolute;
    background-color: white;
    border: 2px solid #ccc;
    padding: 10px;
    z-index: 1000;
  }

  #popup h2{
    color: #000;
  }
  
  .new-point {
    cursor: pointer;
    z-index: 999999999;
  }
  
  